.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homepage__hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/images/rectangle.png);
    background-position: bottom center;
}

.homepage__hero-image {
    width: 572px;
    outline: 1px solid red;


}



.homepage__hero-image img {
    width: 100%;
    height: auto;
}

.homepage__hero-content {
    width: 542px;
    margin-top: 9.6rem;
}

.homepage__hero-content h2,
.homepage__hero-content p {
    width: 100%;
    height: auto;
}

.homepage__hero-content h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: var(--secondary-color);
    padding-top: 1rem;

}

.homepage__hero-content p {
    font-weight: 500;
    padding-top: 1.6rem;

}

.homepage__hero-content button {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--white-color);
    width: 132px;
    height: 48px;
    background: var(--primary-color);
    border-radius: 15px;
    border: none;
    margin-top: 1.6rem;
    margin-bottom: -1.6rem;
}

.homepage__hero-content button:hover {
    background-color: var(--secondary-color);
}

.appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15rem;
    margin-left: 8rem;
}

.appointment h2 {
    font-weight: 600;
    color: var(--white-color);
}

.appointment span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #707173;

}

.appointment button {
    width: 243px;
    height: 60px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    color: var(--secondary-color);
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}