









































/* .review>h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: var(--secondary-color);
    margin-top: 6.4rem;

}

.review__para {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
}

.review__para>div {
    width: 583px;
    height: 192px;
    border: none;
    background-color: var(--white-color);
   
}

.review__para>div>p {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: var(--secondary-color);
    padding: 3rem 9rem;
    text-align: start;
}


.span {
    font-weight: 700;    
}

.review__image {
    margin: 3.6rem 0;
} */
