.medkit__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.medkit__navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 9.6rem;
}

.medkit__navbar-logo {
    display: flex;
}

.medkit__navbar-links>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3.2rem;
}

.medkit__navbar-links>ul>li {
    padding: 0 2.4rem;
    list-style-type: none;

}

.medkit__navbar-heading>h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--primary-color);

}

.medkit__navbar-heading>p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--primary-color);

}

.medkit__navbar-links>ul>li {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--secondary-color);
}

.medkit__navbar-links>ul>li:nth-child(1),
.medkit__navbar-links>ul>li:nth-child(5) {
    color: var(--primary-color);
}

.medkit__navbar-links>ul>li:nth-child(4){
 margin-right: 6.4rem;
 }
.medkit__navbar-links>ul>li>button {
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    background: linear-gradient(123.09deg, #2F98C2 -7.49%, #1E3673 78.8%);
    border: none;
    border-radius: 15px;
    padding: 11px 23px;
   

}

.medkit__navbar-links>ul>li>button:hover {
    background: linear-gradient(123.09deg, #1E3673  -7.49%, #2F98C2 78.8%);
}